<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Mgmt</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <main class="mainContainer">
        <h2 class="mainItemType">Books:</h2>
        <ul class="mainUl">
            <% locals.data.map((item, index) => { %>
                <li class="homeMainCont">
                    
                    <h3 class="mainItemTitle"><%= item.title %></h2>
                    <div class="mainItemImgAndDescCont">
                        <div class="mainItemImage"></div>
                        <div class="mainItemDescription">
                            <p>Author: <%= item.author %></p>
                            <p>Publisher: <%= item.publisher %></p>
                            <p>Quantity: <%= item.quantity %></p>
                            <p>Description: <%= item.description %></p>
                        </div>
                    </div>
                </li>
                <% }) %>
        </ul>
    </main>
</body>
</html>